.bb {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.bb span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.bb:hover {
    color: black;
}

.bb:hover span {
    transform: translateY(0) scale(2);
}

.bb span:nth-child(1) {
    --n: 1;
}

.bb span:nth-child(2) {
    --n: 2;
}

.bb span:nth-child(3) {
    --n: 3;
}

.bb span:nth-child(4) {
    --n: 4;
}

#cardbox
{
    transition: transform .2s;

    
}

#cardbox:hover 
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#top li a
{
  transition: color 0.5s, background-color 0.5s;
color:#16123f;
  
  
  
}
#top li 
{
  padding: 2px;
}
#top li a:hover
           {
                background-color:rgba(0, 0, 0, 0.05); 
                
               color: white;
               
               
               
           }