<p>single works!</p>

<label>{{ myprd.p_id }}</label>
<br>
<label>{{ myprd.p_name }}</label>
<br>
<label>{{ myprd.p_stock }}</label>
<br>
<label>{{ myprd.p_price }}</label>
<br>
<label>{{ myprd.p_sleev }}</label>
<br>
<label>{{ myprd.p_neck }}</label>

<form (ngSubmit) = "sendMail()">
    p_need <input type="text" class="form-control" name="psize" [(ngModel)] = "need">
    p_email <input type="text" class="form-control" name="pemail" [(ngModel)] = "mail">
    p_username <input type="text" class="form-control" name="pusername" [(ngModel)] = "username"> 
    p_phoneno <input type="text" class="form-control" name="phno" [(ngModel)] = "phno"> 
    <input type="submit" value="submit">
</form>