#tophome li a
{
  transition: color 0.5s, background-color 0.5s;
color:#16123f;
font-family: 'Open Sans', sans-serif;

font-size:small;
font-weight: 900;
  
  
}
#tophome li 
{
  padding: 2px;
}
#tophome li a:hover
           {
                background-color:rgba(0, 0, 0, 0.05); 
                
               color: white;
               
               
               
           }



.thebox2{
    margin-top: 100px;
    padding: 30px;
    background: linear-gradient(to top left, #d8fff7 0%, #c8fcb2 100%);
    border-radius: 20px;
}

#user:focus
{
    background-color: rgb(245, 239, 174);
}