<p>admin works!</p>
<h1>-----------------</h1>
<form (ngSubmit) = "createPServ()">
    P_id <input type="text" class="form-control" name="pid" [(ngModel)] = "prdC.p_id">
    p_name <input type="text" class="form-control" name="pname" [(ngModel)] = "prdC.p_name">
    p_size <input type="text" class="form-control" name="psize" [(ngModel)] = "prdC.p_size">
    p_stock <input type="number" class="form-control" name="pstock" [(ngModel)] = "prdC.p_stock">
    p_price <input type="number" class="form-control" name="pprice" [(ngModel)] = "prdC.p_price">
    p_sleev <input type="text" class="form-control" name="psleev" [(ngModel)] = "prdC.p_sleev">
    p_neck <input type="text" class="form-control" name="pneck" [(ngModel)] = "prdC.p_neck">
    <input type="submit" value="submit">
</form>
<h1>-----------------</h1>
<form (ngSubmit) = "readPServ()">
    P_id <input type="text" class="form-control" name="pid" [(ngModel)] = "prdR.p_id">
    <p>{{ prdR.p_name }}</p>
    <input type="submit" value="submit">
</form>
<h1>-----------------</h1>
<form (ngSubmit) = "updatePServ()">
    P_id <input type="text" class="form-control" name="pid" [(ngModel)] = "prdU.p_id">
    p_name <input type="text" class="form-control" name="pname" [(ngModel)] = "prdU.p_name">
    <input type="submit" value="submit">
</form>
<h1>-----------------</h1>
<form (ngSubmit) = "deletePServ()">
    P_id <input type="text" class="form-control" name="pid" [(ngModel)] = "prdD.p_id">
    <input type="submit" value="submit">
</form>
<h1>-----------------</h1>