
<!-- NAV -->

<div class="container-fluid">
  <nav style="background-color:#ffe26afc ;box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);font-size: 20px;" class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <a style="font-size: 20px;" class="navbar-brand" href="http://localhost:4200/">KVS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="tophome" style class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active nv" href="http://localhost:4200/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nv" href="#bgvanta2">About</a>
            </li>
          </ul>
        <ul style="font-size:20px;" class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active nv" aria-current="page" href="#">Cart</a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
</div>

<!-- BODY AFTER NAV -->

<div class="container-fluid "  id="bgvanta1">
  <div class="row">
    <div style="margin-top: 180px;margin-left: 100px;" class="col-md-6">
      <h1 style="color: white;font-size: 100px;">KVS</h1>
      <h1 style="color: white;font-size: 100px;">GARMENTS</h1>
      <P style="color: #16123f;font-size: 30px">Great <span style="border-left: 5px solid #ffe26a;background-color: rgb(255, 226, 106,0.4);">fabrics</span>, amazing <span style="border-left: 5px solid #ffe26a;background-color: rgb(255, 226, 106,0.4);">products</span></P>
    </div>
    <div style="margin-top: 150px;border-radius: 10px;border: solid 1px rgb(255, 226, 106,0.4);padding: 5px;background-color: rgb(255, 226, 106,0.4);" class="col-md-4">
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/cars2.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/cars1.jpg" alt="Chicago" class="d-block w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ABOUT  -->

<div class="container-fluid " id="bgvanta2">
  <br><br>
  <h1 style="color:#16123f;text-align: center;font-weight: 900;">About us</h1>
  <hr style="color:black;">
  <div style="margin-top: 20px;" class="container px-4">
    <div class="row gx-5" style="margin: left 7px;">
      <div class="col" style=" box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9) ;background-color: white;">
       <div class="p-5">
         <h1 class="text" style="text-align:center; padding-left: 0%; font-weight: 900;color:black;" >Our Duty</h1>
         <hr style="color: black;">
         <br>
         <ul>
           <li>Our quest is to become the most admired group by all our stakeholders i.e., Customers, Employees, Share holders and Society at large.</li><br>
           <li>We will be always conscious of the path we take to ensure highest ethical and moral compliance even as we remain totally focused on our goals.</li>
         </ul>
        </div>
      </div>
      <div class="col" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9) ;background-color:white; ">
        <div class="p-5">
          <h1 style="text-align:center; padding-left: 0%; font-weight: 900; color:#ffe26a" >Our Goal</h1>
          <hr style="color:black;">
          <br>
          <ul>
            <li>To remain focused on developing Specialized and Technical products for safety and functional wear.</li><br><br>
             <li>To be one of the most admired garment companies which follows and supports sustainable environmental friendly process.</li>
          </ul>
         </div>
       </div>
    </div>
  </div>
</div>

<!-- OTHER ABOUT CONTENTS -->

<div class="container-fluid" id="bgvanta3">
  <br>
  <div style="margin-top: 20px;" class="container px-4">
    <div class="row gx-5" style="margin: left 7px;">
      <!-- <div class="col" style=" box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9) ;background-color: white;">
       <div class="p-5">
         <h1 class="text" style="text-align:center; padding-left: 0%; font-weight: 900;color:black;" >Our Duty</h1>
         <hr style="color: black;">
         <br>
         <ul>
           <li>Our quest is to become the most admired group by all our stakeholders i.e., Customers, Employees, Share holders and Society at large.</li><br>
           <li>We will be always conscious of the path we take to ensure highest ethical and moral compliance even as we remain totally focused on our goals.</li>
         </ul>
        </div>
      </div> -->
      <div class="col" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9) ;background-color: white; ">
        <div class="p-5">
          <h1 style="text-align:center; padding-left: 0%; font-weight: 900; color:#ffe26a" >Our Goal</h1>
          <hr style="color:black;">
          <br>
          <ul>
            <li>To remain focused on developing Specialized and Technical products for safety and functional wear.</li><br><br>
             <li>To be one of the most admired garment companies which follows and supports sustainable environmental friendly process.</li>
          </ul>
         </div>
       </div>
    </div>
  </div>
</div>

<!-- CONTACT US -->

<div style=" font-family: 'Open Sans', sans-serif; ">
  <br><br>
  <div class="container-fluid row">
    <h1 style="text-align: center;color: #16123f;font-weight: 900;">CONTACT US</h1>
    <hr style="color:black ;">
    <div class="col-md-1"></div>
    <div class="col-md-5 mt-5 ml-3 mb-5 ">
      <div class="row" id="map" style="background-color: rgb(255, 255, 255);border-radius: 20px !important; "  ></div>
      <div class="row mt-5 position-relative text-center"><p> 24, Kavery Nagar, Suramangalam, Salem - 636005</p> </div>
    </div>
    <div  class="col-md-6 parent">
      <svg viewBox="-25 10 220 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#FFE26A" d="M47.6,-57.2C58.2,-47.9,60.7,-29.5,65.1,-10.6C69.4,8.3,75.6,27.8,68.6,39.3C61.6,50.7,41.3,54.2,22.4,60.7C3.5,67.2,-13.9,76.8,-28.9,73.8C-43.8,70.7,-56.1,55.1,-65,38.2C-73.9,21.4,-79.4,3.2,-72.8,-9.1C-66.2,-21.5,-47.6,-27.9,-33.4,-36.6C-19.3,-45.3,-9.6,-56.2,4.5,-61.5C18.5,-66.8,37.1,-66.6,47.6,-57.2Z" transform="translate(100 100)" />
      </svg>
      <div class="child" >
        <div  class="row mt-md-5">
          <div style="margin-right: 15px" class="col-5 position-relative ">
            <a class="con1" ><i (click)="phnno()"   title="click to copy"
              class="fa fa-phone position-absolute start-50 "
            ></i></a>
          </div>
          <div class="col-5" style="text-align: start;">
            <div class="row">
              <h5>Contact</h5>
            </div>
            <div class="row">
              <h3>1234567890</h3>
            </div>
          </div>
        </div>
        <br/>
        <div  class="row mt-md-5">
          <div style="margin-right: 15px" class="col-5 position-relative">
            <a  class="con2"><i (click)="mailid()"  title="click to copy"
              class="fa fa-envelope position-absolute start-50 con"
              
            ></i></a>
          </div>
          <div class="col-5" style="text-align: start">
            <div class="row">
              <h5>E-Mail</h5>
            </div>
            <div class="row">
              <h3>www.kidnapsingh@yahoo.com</h3>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<!-- Footer -->

<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <!-- Section: Social media -->
  <!-- Section: Links  -->
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color:rgb(255, 226, 106,0.6);color: black;"> 
    © 2021 Copyright:
    <a class="text-reset fw-bold" style="color: black;" href="https://mdbootstrap.com/">KVS-GARMENTS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


