#bgvanta1{
 width: 100%;
 
 background: linear-gradient(to top left, #75c9b7 0%, #abd699 100%);
 font-family: 'Koulen', cursive;
}

#bgvanta3
{
  /* background: linear-gradient(to top left, #75c9b7 0%, #abd699 100%); */
  background-color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}


/* background-image:url(../../../assets/images/KVS2.gif);
background-repeat: no-repeat;
background-size: cover;
height: 725px; */
#tophome li a
{
  transition: color 0.5s, background-color 0.5s;
color:#16123f;
font-family: 'Open Sans', sans-serif;
font-weight: 900;
  
  
  
}
#tophome li 
{
  padding: 2px;
}
#tophome li a:hover
           {
                background-color:rgba(0, 0, 0, 0.05); 
                
               color: white;
               
               
               
           }
#bgvanta2{
    width: 100%;
    /* background: linear-gradient(to top left, #abd699 0%, #75c9b7 100%); */
    /* background-color: rgb(255, 255, 255); */
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
/* #cmpny{
    color: white;
    font-size:50px;
    
}
#kvsdiv{
    display: flex;
    justify-content: center;
    padding: 300px 0;
} */

/* .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  } */

  #map { height: 400px !important;
    transition: transform .5s;
    border: solid 1px  black!important;
 }

  


#map:hover 
{

    -ms-transform: scale(1.1) !important; 
    -webkit-transform: scale(1.1) !important; /* Safari 3-8 */
    transform: scale(1.02) !important; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) !important; 
}

.con1{
  font-size: 50px;
  color: #16123f;
  transition: font-size 0.5s,color 0.5s;

  
}
.con1:hover{
  font-size: 60px;
  color: #4c60c9;
}
.con2{
  font-size: 50px;
  color: #16123f;
  transition: font-size 0.5s,color 0.5s;
}
.con2:hover{
  font-size: 60px;
  color: #4c60c9;
}
.parent{
  position: relative;
}
.child{
  position: absolute;
top: 25%;
left: 25%;
}