<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a style="font-size: 40px;" class="navbar-brand" href="#">KVS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul style="font-size:20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="http://localhost:4200/products"><b>Products</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><b>About</b></a>
          </li>
        </ul>
       <ul style="font-size:20px;" class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><b>Cart</b></a>
        </li>
       </ul>
      </div>
    </div>
  </nav>


<div class="container-fluid" style="background-image:url(https://picsum.photos/200) ;" id="bgvanta1">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-6 " id="kvsdiv">
                <h1 class="multipleStrings" id="cmpny"><b>KVS <br> 
                    <div class="waviy">
                      <span style="--i:1">G</span>
                      <span style="--i:2">a</span>
                      <span style="--i:3">r</span>
                      <span style="--i:4">m</span>
                      <span style="--i:5">e</span>
                      <span style="--i:6">n</span>
                      <span style="--i:7">t</span>
                      <span style="--i:8">s</span>
                     </div></b></h1>
            </div>
        </div>
    </div> 
</div>
<div class="container-fluid" id="bgvanta2">
    
</div>


