#bgvanta1{
    width: 100%;
    height: 730px;
}
#bgvanta2{
    width: 100%;
    height: 500px;
}
#cmpny{
    color: white;
    font-size:50px;
    
}
#kvsdiv{
    display: flex;
    justify-content: center;
    padding: 300px 0;
}

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }