
<!-- NAV -->

  <nav style="background-color:#ffe26afc ;box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);font-size: 20px;" class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <a style="font-size: 20px;" class="navbar-brand" href="http://localhost:4200/"><img src="../../../assets/images/finalogo.JPG" width="100" height="45" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="tophome"  class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active nv" href="http://localhost:4200/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nv" href="#bgvanta2">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nv" href="#contact">Contact us</a>
            </li>
          </ul>
     
        </div>
      </div>
    </nav>


<!-- BODY AFTER NAV -->


<div class="container-fluid " id="bgvanta1" >
  <div class="row" style="height: 700px;">
    <div  class="col-6">
      <div style="margin-top:180px ;margin-left:100px">
        <h1 style="color: white;font-size: 100px;">KVS</h1>
        <h1 style="color: white;font-size: 100px;">GARMENTS</h1>
        <P style="color: #16123f;font-size: 30px">Great <span style="border-left: 5px solid #ffe26a;background-color: rgb(255, 226, 106,0.4);">fabrics</span>, amazing <span style="border-left: 5px solid #ffe26a;background-color: rgb(255, 226, 106,0.4);">products</span></P>
      </div>
    </div>
    <div class="col-4" >
      <div style="margin-top: 150px;">

         <div  id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators "  >
          <button  type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button  type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button  type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          <button  type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/sel1.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/caro5.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/sel2.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/caro6.jpg" alt="" class="d-block w-100">
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-2"></div>

  </div>
</div>

<!-- ABOUT  -->



<!-- OTHER ABOUT CONTENTS -->

<div class="container-fluid " id="bgvanta3">
  <div class="row" style="height:80px ;"></div>
  <hr style="height: 2px" color="black">
  <div style="height: 300px; ">
    <h1 style="color:#16123f;text-align: center;font-weight:500;margin-top:50px ;" class="fw-bold">What we do...</h1>
    <div class="m-5"  data-aos-duration="1200" data-aos="zoom-in"><p class="text-center fst-italic">This is a place where complete garments are made from the fabrics following a chain of processes. In this garment wholesale business, the source garments from different manufacturers and brands in volume. Later those are distributed and sold to garment stores. Source garments from manufacturing hubs and distribute those garments to shops in small cities. As you purchase goods in bulk quantity and directly from manufacturing hubs.  </p></div>
  </div>
    <hr style="height: 2px" color="black">

    <div class="row" style="height:80px ;"></div>

    <div style="background-color: #f9ffd8 " class="row ">
      <div class="col-1"></div>
      <div data-aos="fade-up" class="col-10" style="margin-top: 30px; margin-bottom: 30px;">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img style="filter: brightness(90%);" src="../../../assets/images/building2.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h3><b>Our Firm</b></h3>
                <p>When an organization feels like a family, they will go all out to love and serve one another</p>
              </div>
            </div>
            <div class="carousel-item">
              <img style="filter: brightness(90%);" src="../../../assets/images/table.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h3><b>Our Structure</b></h3>
                <p>Every piece is organized in a proper and procedural way in our structure</p>
              </div>
            </div>
            <div class="carousel-item">
              <img style="filter: brightness(90%);" src="../../../assets/images/box2.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h3><b>Our Manner</b></h3>
                <p>Everyone here is on par with each other </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <br><br><br>

  <div style="background-color: #f9ffd8;" class="row ">
    <div class="row " >
      <div data-aos="zoom-in-right" data-aos-delay="500"  data-aos-duration="2000" class="col-md-5 pics" >
        <img style="border-radius:20px ;" src="../../../assets/images/cutting.jpeg" width="500px" class="img-fluid picsimg" alt="">
      </div>
      <div class="col-md-5" >
        <h2 
          style="margin-top:40px; text-align: center;font-weight:bolder; color: #549e8e;"
          data-aos-delay="500" data-aos-duration="2000"  
          data-aos="flip-up"
          >
          <hr style="height: 15px;display: block; color: #abd699;">
          Cutting Section
          <hr style="height: 15px;display: block; color: #abd699;">
      </h2>
        <p
          style="line-height: 3;margin-top:40px; text-align: center" 
          data-aos-delay="500" data-aos-duration="2000"  
          data-aos="flip-up">
          <b style="font-size: 20px;font-weight: bolder;">&emsp;F</b>reshly imported high quality 'Gada' manufactured with finest cotton in the market is cut in the cutting section as per the requirement, that is later sent to be stiched at an external center to form a final T-shirt product.
        </p>
      </div>
    </div>
  </div>
  
  <div class="row" style="height:80px ;"></div>

  <div style="background-color: #f9ffd8;" class="row ">
    <div class="row flex-row-reverse " >
      <div data-aos="zoom-in-left" data-aos-delay="500" data-aos-duration="2000"  class="col-md-5 pics" >
        <img style="border-radius:20px ;" src="../../../assets/images/worker.jpeg" width="500px" class="img-fluid picsimg" alt="">
      </div>
      <div class="col-md-5" >
        <h2 
          style="margin-top:40px; text-align: center;font-weight:bolder; color: #549e8e;"
          data-aos-delay="500" data-aos-duration="2000"  
          data-aos="flip-up"
          >
          <hr style="height: 15px;display: block; color: #abd699;">
          Ironing Section
          <hr style="height: 15px;display: block; color: #abd699;">
        </h2>
        <p 
          style="line-height: 3;margin-top:40px; text-align: center" 
          data-aos-delay="500" data-aos-duration="2000"   
          data-aos="flip-up">
          <b style="font-size: 20px;font-weight: bolder;">&emsp;T</b>-shirts that arrive as final products are taken to the Ironing section where they are pressed with industry-standard equipments and folded to perfection ready to move to next section.
        </p>
      </div>
    </div>
  </div>
  
  <div class="row" style="height:80px ;"></div>

  <div style="background-color: #f9ffd8;" class="row ">
    <div class="row " >
      <div data-aos="zoom-in-right" data-aos-delay="500" data-aos-duration="2000"  class="col-md-5 pics" >
        <img style="border-radius:20px ;" src="../../../assets/images/table2.jpeg" width="500px" class="img-fluid picsimg" alt="">
      </div>
      <div class="col-md-5" >
        <h2 
          style="margin-top:40px; text-align: center;font-weight:bolder; color: #549e8e;"
          data-aos-delay="500" data-aos-duration="2000"  
          data-aos="flip-up"
          >
          <hr style="height: 15px;display: block; color: #abd699;">
          Packing Section
          <hr style="height: 15px;display: block; color: #abd699;">
        </h2>
        <p 
          style="line-height: 3;margin-top:40px; text-align: center" 
          data-aos-delay="500" data-aos-duration="2000"  
          data-aos="flip-up">
          <b style="font-size: 20px;font-weight: bolder;">&emsp;N</b>eatly folded garments are moved to the packing section where they are enclosed in pristine quality packaging that ensures intactness, preparing them to be exported to our beloved clients.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" style="margin-top: 100px; ">
  <div class="row">
    <div class="col-md-3"><img 
      data-aos-duration="1000"
      data-aos="fade-zoom-in" 
      data-aos-easing="ease-in-back" 
      data-aos-delay="500" 
      class="img-fluid " 
      src="../../../assets/images/0.png">
    </div>
    <div class="col-md-3"><img
      data-aos-duration="1000"
      data-aos="fade-zoom-in" 
      data-aos-easing="ease-in-back" 
      data-aos-delay="700" 
      class="img-fluid " 
      src="../../../assets/images/1.png">
    </div>
    <div class="col-md-3"><img 
      data-aos-duration="1000"
      data-aos="fade-zoom-in" 
      data-aos-easing="ease-in-back" 
      data-aos-delay="900" 
      class="img-fluid " 
      src="../../../assets/images/2.png">
    </div>
    <div class="col-md-3"><img 
      data-aos-duration="1000"
      data-aos="fade-zoom-in" 
      data-aos-easing="ease-in-back" 
      data-aos-delay="1100" 
      class="img-fluid " 
      src="../../../assets/images/3.png"></div>
  </div>
</div>

<!-- <h1>about us begin</h1> -->


<div class="container-fluid " id="bgvanta2">
  <div class="row" style="height:80px ;"></div>
  <hr color="black"style="height: 2px">
  <div style="height: 300px">
    <h1 style="color:#16123f;text-align: center;font-weight:500;margin-top:50px ;">About us ...</h1>
    <div class="m-5" data-aos-delay="700" data-aos-duration="2000" data-aos="zoom-in"><p class="text-center fst-italic">At KVS, we are proud to represent the values that we have strived to achieve and perfect over years.

      Because we, the people behind KVS, believe that true long-term relations can only be built upon communication and respect. Technology, reliability and flexibility to meet our customers’ requests are the platform for our optimized supply chain and allow us to work with the world’s leading brands.</p></div>
  </div>
    <hr color="black" style="height: 2px">

    <div class="row" style="height:80px ;"></div>
    
<div class="row ">
  <div class="col-md-1"></div>
  <div class="col-md-5"  data-aos="zoom-in-up" data-aos-delay="500" data-aos-duration="1500">
    <div class=" container-fluid duty" >
      <div class="p-5">
        <h1 class="fw-bolder mt-3" style="text-align: center;">Our Duty</h1>
      <hr style="height: 2px">
        <li style="line-height: 2;word-spacing:5px"> Our quest is to become the most admired group by all our stakeholders and Society at large.</li>
        <br>
        <li style="line-height: 2;word-spacing:5px">Getting sustainable product quality through continuous quality improvement to meet customer quality requirement and high customer satisfaction.</li>  
      </div>
       </div>
    </div>
  <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1500" class="col-md-5 position-relative">
    <img src="../../../assets/images/sh1.png" class="img-fluid position-absolute top-50 start-50 translate-middle" width="300px">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row" style="height:30px ;"></div>


<div class="row">
  <div class="col-md-1"></div>
  <div data-aos="fade-right" data-aos-delay="500" data-aos-duration="1500" class="col-md-5 position-relative">
    <img src="../../../assets/images/sh2.png" class="img-fluid position-absolute top-50 start-50 translate-middle" width="300px">
  </div>
  <div data-aos="zoom-in-down" data-aos-delay="500" data-aos-duration="1500"  class="col-md-5">
    <div class="container-fluid goal">
      <div class="p-5">
      <h1 class="fw-bolder mt-3"  style="text-align: center;">Our Goal</h1>
    <hr style="height: 2px">
      <li style="line-height: 2;word-spacing:5px"> Our Quality Plan,Goal, Target and Functions to achieve their quality goal for longer period.</li>
      <br>
      <li style="line-height: 2;word-spacing:5px">To remain focused on developing Specialized and Technical products for safety and functional wear.</li>
    </div>
    </div>
    </div>
  <div class="col-md-1"></div>
</div><br>


<div class="row" style="height:80px ;"></div>
<hr style="height: 2px">
<br>

<div class="row" style="background-color:#f9ffd8">
  <div class="row mt-5 mb-5">
  <div class=" col-6 d-flex align-items-center justify-content-center">
    <img  style="border-radius:20px ;" data-aos="fade-right" data-aos-duration="2000" src="../../../assets/images/owner.jpeg" width="500px" class="img-fluid " alt="">
  </div>
  <div data-aos="fade-left" data-aos-duration="2000" class="col-4 ">
    <p style="font-family: 'Dancing Script', cursive;font-size:30px ;margin-top: 50px;">" We will be always conscious of the path we take to ensure highest ethical and moral compliance even as we remain totally focused on our goals. "</p>
    <p style="margin-left: 250px;">- Mr. R.Selvaraj , proprietor</p>
  </div>
</div>
</div>

</div>


<!-- CONTACT US -->

<div style=" font-family: 'Open Sans', sans-serif; ">
  <br><br>
  <div class="container-fluid row" id="contact">
    <hr style="height: 1.5px">
    <div style="height: 300px">
      <h1 style="color:#16123f;text-align: center;font-weight:500;margin-top:50px ;">Contact us ...</h1>
      <div class="m-5" data-aos-delay="700" data-aos-duration="2000" data-aos="zoom-in"><p class="text-center fw-bold fst-italic">KVS is always open and humble to your business needs, we are always ready to start our Journey with you even in your hard times. And you are one step away from our contact.</p></div>
    </div>
    <hr style="height: 2px">
    <div class="row" style="height:80px ;"></div>
    <div class="col-md-1"></div>
    <div class="col-md-5 mt-5 ml-3 mb-5 ">
      <div class="row" id="map" style="background-color: rgb(255, 255, 255);border-radius: 20px !important; "  ></div>
      <div class="row mt-5 position-relative text-center"><p> 24, Kavery Nagar, Suramangalam, Salem - 636005</p> </div>
    </div>
    <div  class="col-md-6 parent">
      <svg viewBox="-25 10 220 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#FFE26A" d="M47.6,-57.2C58.2,-47.9,60.7,-29.5,65.1,-10.6C69.4,8.3,75.6,27.8,68.6,39.3C61.6,50.7,41.3,54.2,22.4,60.7C3.5,67.2,-13.9,76.8,-28.9,73.8C-43.8,70.7,-56.1,55.1,-65,38.2C-73.9,21.4,-79.4,3.2,-72.8,-9.1C-66.2,-21.5,-47.6,-27.9,-33.4,-36.6C-19.3,-45.3,-9.6,-56.2,4.5,-61.5C18.5,-66.8,37.1,-66.6,47.6,-57.2Z" transform="translate(100 100)" />
      </svg>
      <div class="child" >
        <div  class="row mt-md-5">
          <div style="margin-right: 15px" class="col-5 position-relative ">
            <a class="con1" ><i (click)="phnno()"   title="click to copy"
              class="fa fa-phone position-absolute start-50 "
            ></i></a>
          </div>
          <div class="col-5" style="text-align: start;">
            <div class="row">
              <h5>Phone</h5>
            </div>
            <div class="row">
              <p>7010605192</p>
            </div>
          </div>
        </div>
        <br/>
        <div  class="row mt-md-5">
          <div style="margin-right: 15px" class="col-5 position-relative">
            <a  class="con2"><i (click)="mailid()"  title="click to copy"
              class="fa fa-envelope position-absolute start-50 con"
              
            ></i></a>
          </div>
          <div class="col-5" style="text-align: start">
            <div class="row">
              <h5>E-Mail</h5>
            </div>
            <div class="row">
              <p>kvsgarments@outlook.com</p>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<!-- Footer -->

<footer class="text-center text-lg-start text-muted ">
  <!-- Section: Social media -->
  <!-- Section: Social media -->
  <!-- Section: Links  -->
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color:rgb(255, 226, 106,0.6);color: black;"> 
    © 2021 Copyright:
    <a class="text-reset fw-bold" style="color: black;" href="#bgvanta1">KVS-GARMENTS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->




  <!-- <div style="margin-top: 20px;" class="container ">
    <div class="row gx-5" style="margin: left 7px;">
      <div class="col" style=" box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6) ;background-color: white;">
       <div data-aos="fade-up" class="p-5">
         <h1 class="text" style="text-align:center; padding-left: 0%; font-weight: 900;color:black;" >Our Duty</h1>
         <hr style="color: black;">
         <br>
         <ul>
           <li>Our quest is to become the most admired group by all our stakeholders and Society at large.</li><br>
           <li>We will be always conscious of the path we take to ensure highest ethical and moral compliance even as we remain totally focused on our goals.</li>
         </ul>
        </div>
      </div>
      <div class="col" style="box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4) ;background-color:white; ">
        <div data-aos="fade-down" class="p-5">
          <h1 style="text-align:center; padding-left: 0%; font-weight: 900; color:#ffe26a" >Our Goal</h1>
          <hr style="color:black;">
          <br>
          <ul>
            <li>To remain focused on developing Specialized and Technical products for safety and functional wear.</li><br><br>
             <li>To be one of the most admired garment companies which follows and supports sustainable environmental friendly process.</li>
          </ul>
         </div>
       </div>
    </div>
  </div>
  -->

