#bgvanta1{
 width: 100%;
 height: 600px;
 background: linear-gradient(to top left, #75c9b7 0%, #abd699 100%);
}

#bgvanta3
{
  background: linear-gradient(to top left, #75c9b7 0%, #abd699 100%);
}


/* background-image:url(../../../assets/images/KVS2.gif);
background-repeat: no-repeat;
background-size: cover;
height: 725px; */
#tophome li a
{
  transition: color 0.5s, background-color 0.5s;
color:#16123f;
  
  
  
}
#tophome li 
{
  padding: 2px;
}
#tophome li a:hover
           {
                background-color:rgba(0, 0, 0, 0.05); 
                
               color: white;
               
               
               
           }
#bgvanta2{
    width: 100%;
    height: 500px;
    background: linear-gradient(to top left, #abd699 0%, #75c9b7 100%);
}
/* #cmpny{
    color: white;
    font-size:50px;
    
}
#kvsdiv{
    display: flex;
    justify-content: center;
    padding: 300px 0;
} */

/* .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  } */